aiohttp==0.21.6
backports.shutil-get-terminal-size==1.0.0
chardet==2.3.0
decorator==4.0.9
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
readline==6.2.4.1
simplegeneric==0.8.1
traitlets==4.2.1
websockets==3.1
PyYAML==3.11
